.background {
    padding-top: 100px;;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: auto;
    background-color: rgb(220, 220, 220);
}

.grid {
    display: grid;
}

.grid-settings {
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.header {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 3rem;
    line-height: 1;
    font-weight: 700;
}

.header_1 {
    font-size: 1.5rem;
    line-height: 2rem;
}

.button {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.container_1 {
    display: flex;
    position: relative;
    margin: 0.25rem;
    text-align: center;
    flex-direction: column;
    padding: 1rem;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 0.75rem;
    border-width: 1px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    bottom: 5%;
    right: 40%;
    left: 40%;
    top:-110%;
    
}

.container_items {
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media only screen and (min-width:768px) {
    .grid-settings {
        align-items: flex-start;
    }

    .grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .header {
        font-size: 4.5rem;
        line-height: 1;
    }

    .button {
        width: 60%;
    }

    .container_1 {
      bottom: 5%;
      right: 40%;
      left: 40%;
      top:-10%;
    }
}
.stepper-wrapper {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .stepper-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  
    @media (max-width: 768px) {
      font-size: 12px;
    }
  }
  
  .stepper-item::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: -50%;
    z-index: 2;
  }
  
  .stepper-item::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 2;
  }
  
  .stepper-item .step-counter {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ccc;
    margin-bottom: 6px;
  }
  
  .stepper-item.active {
    font-weight: bold;
  }
  
  .stepper-item.completed .step-counter {
    background-color: #4bb543;
  }
  
  .stepper-item.completed::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #4bb543;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 3;
  }
  
  .stepper-item:first-child::before {
    content: none;
  }
  .stepper-item:last-child::after {
    content: none;
  }