.footer-container-1 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: #D1D5DB;
    width: 100%;
    background-color: rgb(6, 20, 32);
}

.footer-container-2 {
    display: grid;
    align-self: center;
    padding: 2rem;
    border-bottom-width: 2px;
    border-color: #4B5563;
    grid-template-columns: repeat(2, minmax(0, 1fr));

}

.footer-text-1 {
    margin-top: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;

}

.footer-list {
    margin-top: -0.25rem;
    margin-bottom: -1.25rem;

}

.footer-container-3 {
    
    flex-direction: column; 
    color: #6B7280;
    text-align: center;
    justify-content: space-between;
    padding: 1rem;
}

.footer-container-4 {
    display: flex;
    padding-top: 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
    justify-content: space-between;
    
}

@media only screen and (min-width:768px) {
    .footer-container-2 {
        margin: auto;
        
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    .footer-container-3{
        display: flex;
        flex-direction: row;
    }

    .footer-container-4 {
        width: 300px;
    }

}