.form-container{
  padding-bottom: 4rem;
    background-color:rgba(200, 197, 197, 0.777)
}

.form-container-1 {
    
    width: 100%;
    margin: auto;
    margin-top: 2rem;;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    border-radius: 1rem;
    border-width: 1px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.form-text-container {
    width: 50%;
    margin: 0 auto;
    width: 100%;    
}

.form-container-2 {
    display: flex;
    align-items: center;

}

.form-text-sm {
    display: block;
    font-size: 0.875rem;
    line-height: 1.25rem;

    font-weight: bold;
}

.form-text-md {
    font-size: 1.875rem;
    line-height: 2.25rem;
    text-align: center;
    font-weight: bold;
}

.form-input {
    padding: 0.5rem;
    margin-top: 0.25rem;
    width: 100%;
    border-radius: 0.25rem;
    border-width: 1px;
    border-color: rgb(195, 195, 195);

}

.form-checkbox {
    color: #93C5FD;
    width: 1rem;
    height: 1rem;
    border-radius: 0.25rem;
    margin: 0.30rem;
}

.form-box {
    margin-top: 1rem;
    width: 50%;
    margin: 0 auto;
    width: 100%;
    /* max-width: fit-content; */
    padding: 2rem;
    border-width: 1px;
}
.container_items {
    display: flex; 
 padding-left: 1rem;
 padding-right: 1rem; 
 flex-wrap: wrap; 
 justify-content: space-between; 
 }
 
.container-1{
  display: flex;
  
    position:static;
    padding: 2rem;
    text-align: center;
    flex-direction: column;
    padding: 1rem;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 0.75rem;
    border-width: 1px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    bottom: 50%;
    right: 50%;
    left: 50%;
    top:-50%;
    margin-right: 15rem;
    margin-left: 15rem;
    margin-bottom: 2rem;
}

.button-align{
  
  grid-template-columns: 1fr 1fr;
  align-self: stretch;
  display: flex;
  flex-flow: auto;
  column-gap: 50rem;
  justify-content: space-between;
}

.hide-btn{
  margin-top: 1rem;
  opacity:0.2 ;
  width: 50%;
  padding: 1rem;
  width: 100%;
}
.show-btn{
  opacity: 1;
  padding: 1rem;
  width: 5%;
  margin-top: 1rem;
  width: 100%;
  background-color: rgb(79 70 229 / var(--tw-bg-opacity));
}

.submit-btn{
  opacity: 1;
  padding: 1rem;
  width: 5%;
  margin-top: 1rem;
  width: 100%;
  background-color: #4bb543;
  content: "Submit";
  display: inline;
}
.hide-form{
 display: none;
}
.show-form{
  display: flex;
}


@media only screen and (min-width:900px) {
    .form-container-1 {
        bottom: 20%;
        align-items: flex-start;
        max-width: 75%;
        width: 100%;
        position: relative;
    }
    .container_1 {
display:block;
    
      }
}


.stepper-wrapper {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .stepper-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  
    @media (max-width: 768px) {
      font-size: 12px;
    }
  }
  
  .stepper-item::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: -50%;
    z-index: 2;
  }
  
  .stepper-item::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 2;
  }
  
  .stepper-item .step-counter {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ccc;
    margin-bottom: 6px;
  }
  
  .stepper-item.active {
    font-weight: bold;
  }
  
  .stepper-item.completed .step-counter {
    background-color: #4bb543;
  }
  
  .stepper-item.completed::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #4bb543;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 3;
  }
  
  .stepper-item:first-child::before {
    content: none;
  }
  .stepper-item:last-child::after {
    content: none;
  }