.container{
    display: flex; 
flex-direction: column; 
justify-content: center; 
min-height: 100vh; 
}

.text{
    width: 100%; 
    max-width: 28rem; 
}

.box{
margin-top: 1rem; 
width: 100%; 
max-width: 28rem; 
}